html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

* {

    color: white;
    box-sizing: border-box;
    font-family: 'poppins';
    text-decoration: none;
    margin: 0;
    padding: 0;


}

body {
    background: rgba(6, 6, 41);

}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 1;
    margin: 0;
    background: rgba(6, 6, 41);

}

span {
    color: rgb(221, 196, 5);
    font-size: 2rem;
}

.nav_con {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0 6rem;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    gap: 4rem;
    margin: 0 4rem;
    overflow: hidden;
}


.nav_list a:hover {
    color: rgb(221, 196, 5);
    border: 1ps solid white;

}


/*===================FOOTER SECTION ==========*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.social_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pfoot {
    color: white;

}

#pfoot {
    font-size: 2rem;
}

#pfoot2 {
    font-size: 2rem;

}

.footer_socials {
    display: flex;
    gap: 1rem;

}

.face {
    background: green;
    border-radius: 50%;
    padding: 0.5rem;


}

.twit {
    background: rgb(17, 150, 212);
    border-radius: 50%;
    padding: 0.5rem;

}

.lin {
    background: rgb(235, 184, 14);
    border-radius: 50%;
    padding: 0.5rem;

}

.ingrm {
    background: rgb(128, 0, 41);
    border-radius: 50%;
    padding: 0.5rem;

}


.small {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}

/*===========CONTACT PAGE===============*/

.contact_container {
    background: rgba(6, 6, 41);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 12rem auto 5rem;
    border-radius: 1rem;
}

/*============================ASIDE==========================*/
.contact_aside {
    display: flex;
    flex-direction: column;
    justify-contents: center;
    align-items: center;
    background: rgba(6, 6, 41);
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
    bottom: 8rem;
    border: 1px solid white;
}

.aside_image {
    width: 15rem;
    margin-bottom: 2rem;
}

.contact_aside h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.contact_aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact_details li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact_socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact_socials a {
    background: white;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;

}


/*==============FORM=================*/
.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.2rem;
    margin-right: 4rem;
    margin-top: -6rem;
}

.form_name {
    display: flex;
    gap: 1.2rem;

}

.contact_form input[type="text"] {
    width: 50%;

}

input,
textarea {
    width: 100%;
    padding: 1rem;
    background: rgba(6, 6, 41);
    color: white;
    border-radius: 2rem;
}

.contact_form .btn {
    width: max-content;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    color: rgba(6, 6, 41);
}